<!DOCTYPE html>
<html lang="ja">

  <body  id="winVP">

    <div id="container">
      
      <div id="tbo">
        
          <div id="toolbarObj" dir="ltr" class="dhx_toolbar_dhx_skyblue dhxtoolbar_icons_18">
            <div class="dhxtoolbar_float_left">
              
              <div class="dhx_toolbar_sep" title=""></div>
              <div class="dhx_toolbar_btn dhxtoolbar_btn_def" title=""
            (click)="CreatePDF()">
              <img src="/assets/Hekisou/admin/common/image/print.png" />
              <div class="dhxtoolbar_text">印刷画面表示</div>
            </div>
            <div class="dhx_toolbar_sep" title=""></div>
            </div>
          </div>
      </div>
      </div>
  </body>
</html>
